extends layout

block content
    .main-content.container-fluid.
        <div class="landing-page px-5">
            <div class="container-fluid pt-5 no-padding">
                <div class="row video-container align-items-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="youtube" src="https://www.youtube.com/embed/NculVeZGork" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="pt-5 no-padding">
                <img class="img-fluid" style="width: 100%" src="images/Ribbon.svg" alt=" ">
            </div>
            <div class="py-5 no-padding">
                <img class="img-fluid" style="width: 100%" src="images/Book.svg" alt=" ">
            </div>
            <div class="pt-5 no-padding">
                <img class="img-fluid" style="width: 100%" src="images/Part_of_the_story.svg" alt=" ">
            </div>
            <div class="py-5 no-padding book-now text-center">
                <h2 style="font-size: 2.0rem;">Book now for our free events and find out how you can get involved.</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img class="img-fluid" style="width: 100%" src="images/Blue_box.svg" alt=" ">
                    </div>
                    <div class="py-3">
                        <a href="https://green-city-events.eventcube.io/events/22009/the-girl-who-wouldnt-give-up-y-ferch-na-fyddain-ildio-byth/" target="_blank"><img class="img-fluid" style="width: 100%" src="images/Blue_button.svg" alt=" "></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img class="img-fluid" style="width: 100%" src="images/Yellow_box.svg" alt=" ">
                    </div>
                    <div class="py-3">
                        <a href="https://green-city-events.eventcube.io/events/22010/creative-workshop-1/" target="_blank"><img class="img-fluid" style="width: 100%" src="images/Yellow_button.svg" alt=" "></a>
                    </div>
                </div>
            </div>
            <div class="pt-5 no-padding">
                <img class="img-fluid" style="width: 100%" src="images/Waves.svg" alt=" ">
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <img class="img-fluid" style="width: 100%" src="images/Logo.svg" alt=" ">
                        </div>
                        <div class="col-md-6 text-center mt-3 pt-5">
                            <p class="footer-text"><span style="font-weight: bold;">The Girl Who Wouldn't Give Up</span> is a project of Green Squirrel CIC, funded by The National Lottery Community Fund. <a href="https://www.greencityevents.co.uk/what-we-do/green-squirrel-workshops/" target="_blank" class="">Find out more</a> about our work.</h4>
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" style="width: 100%" src="images/bl_logo.svg" alt=" ">
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-end">
                                <div class="col-4 align-self-center">
                                    <div class="row float-right">
                                        <span class="footer-text-lower">#dontgiveup</span>                                
                                    </div>
                                    </br>
                                    <div class="row float-right">
                                        <span class="footer-text-lowest">Ⓒ Green Squirrel 2019</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class-"col-md-6"></div>
                                        <div class="col-md-3 mx-2">
                                            <a href="https://twitter.com/bewaretheafanc" class="fab fa-twitter" target="_blank"></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="https://www.pinterest.co.uk/23b45d1992330263971bd2885724d9/the-girl-who-wouldnt-give-up/" target="_blank" class="fab fa-pinterest"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        