doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/fontawesome.js')
    link(rel="shortcut icon", type="image/png", href="images/favicon.png")

  body
    block content
